::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #f9d4ff 14%, #c7ceff 64%);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* 隐藏滚动条 */
.scrollbar-hidden {
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.label:before {
  /* 标签云 */
  content: '#';
}

/* toc */
.cl-wrapper {
  position: relative;
}

.cl-wrapper ul,
.cl-wrapper li {
  margin: 0;
  -moz-padding-start: 12px;
  -webkit-padding-start: 12px;
  list-style: none;
}

.cl-wrapper li > .cl-link.cl-link-active {
  color: rgba(66, 185, 131, 0.9);
  transition: 0.5s;
}

.cl-wrapper li > .cl-transform.cl-link-active {
  transform: translate(3px);
}

.cl-wrapper .cl-link {
  cursor: pointer;
  color: rgba(52, 73, 94, 0.5);
  font-size: 13px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.cl-wrapper .cl-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cl-wrapper .cl-marker path {
  transition: all 0.3s ease;
}
